version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
    volumes:
      - "./openprocurement:/app/openprocurement:delegated"
      - "./docs.py:/app/docs.py:delegated"
      - "./docs:/app/docs:delegated"
      - "./etc:/app/etc:delegated"
    ports:
    - "80:80"
  mongo:
    image: bitnamilegacy/mongodb:6.0.13
    environment:
      MONGODB_ROOT_PASSWORD: example
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_NAME: rs0
      MONGODB_REPLICA_SET_KEY: replicaSetKey
      MONGODB_ADVERTISED_HOSTNAME: mongo
    ports:
      - 27017:27017
